<h2>Star Wars Battles</h2>

<div class="board">
  <div class="card-container">
    <p class="score">{{score1}}</p>
    <app-card [person]="person1" [borderColor]="winner == person1 ? 'green' : 'red'"></app-card>
  </div>
  <div class="card-container">
    <p class="score">{{score2}}</p>
    <app-card [person]="person2" [borderColor]="winner == person2 ? 'green' : 'red'"></app-card>
  </div>
  <div>
    <button (click)="processFight()">Fight!</button>
  </div>
</div>

<div class="center">
</div>
